<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Speech synthesiser</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="js/scripts.js"></script>
</head>

<body>
  <!-- <% include ../layout/nav %> -->
  <div class="container">
    <h1 class='text-center py-3 border-bottom'>Speech synthesiser</h1>
    <div class="row">
      <div class="col">
        <form class="mb-3 pb-3 border-bottom">
          <!-- Настройки звука -->
          <div class="row">
            <div class="col-xs-12 col-sm-12  col-md-4">
              <div class="input-group mb-3">
                <label for="rate">Rate:
                  <span class="font-weight-bold text-warning">1</span>
                </label>
                <input type="range" class="custom-range" min="0.5" max="2" value="1" step="0.1" id="rate">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12  col-md-4">
              <div class="input-group mb-3">
                <label for="pitch">Pitch:
                  <span class="font-weight-bold text-warning">1</span>
                </label>
                <input type="range" class="custom-range" min="0" max="2" value="1" step="0.1" id="pitch">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12  col-md-4">
              <div class="input-group mb-3">
                <label for="volume">Volume:
                  <span class="font-weight-bold text-warning">1</span>
                </label>
                <input type="range" class="custom-range" min="0" max="1" value="1" step="0.1" id="volume">
              </div>
            </div>
          </div>
          <!-- Язык и фраза -->
          <div class="row">
            <div class="col-xs-12 col-sm-12  col-md-4">
              <label for="txtInput">Введите фразу</label>
              <input type="text" class="txt form-control mb-2" placeholder="Ваша фраза" id="txtInput">
            </div>
            <div class="col-xs-12 col-sm-12  col-md-4">
              <label for="voiceSelector">Выберите язык</label>
              <select id="voiceSelector" class="form-control mb-2"></select>
            </div>
            <div class="col-xs-12 col-sm-12  col-md-4">
              <div class="controls">
                <label for="play">Прослушайте!</label>
                <button id="play" type="submit" class="btn btn-success btn-block">Play</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- ролевой диалог -->
  <div class="container">
    <button class="btn btn-block btn-info" id="dialogBtn">Initium</button>
    <div class="dialog_holder mt-3" id="dialogHolder"></div>
    <div class="city_player_names mt-3" id="cityPlayerNames">
      <div class="player_name">
        <span class="k_name" id="kName">Kallisto</span>
        <b class="count k_score_holder">0</b>
      </div>
      <span class="vs_holder">VS</span>
      <div class="player_name">
        <span class="p_name" id="pName">Player</span>
        <b class="count user_score_holder">0</b>
      </div>
    </div>
    <div class="city_results_table mt-3" id="cityResultTable"></div>
  </div>
  <!-- <% include ../layout/footer %> -->
</body>

</html>